.ClusterPage {
    padding: calc(var(--padding) * 2);

    header {
        padding: var(--padding);
        border-bottom: 1px solid currentColor;
    }

    .controls {
        margin-right: 0;
        margin-left: auto;
        flex-flow: row;
        display: flex;
        gap: 10px;
    }
}
