.KubescapeControlTable {
    width: 100%;
    height: 100%;
    
    .progressStatus {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: 10px;
    }
}

.Table {
    background: var(--contentColor);
    border-top: 1px solid var(--tableHeaderBorderColor);
    
    .TableCell {
        &.controlId {
            max-width: 80px;
        }

        &.severity {
            max-width: 80px;
        }

        &.failedResources {
            max-width: 140px;
        }

        &.allResources {
            max-width: 120px;
        }

        &.riskScore {
            max-width: 90px;
        }
        &.status {
            max-width: 80px;
        }

        &.controlDescription {
            word-break: break-word;
            flex: 1.5;
        }
    }

    // .TableRow:nth-child(odd) {
    //     background-color: #1a1a1a;
    // }
}